@media (max-width: 1099px) {
  .main_section {
    height: calc(100vh - 50px);
    padding: 50px 0 0;
    .container {
      .tabs-block {
        .sidebar {
          flex: 0;
          margin-top: 0;
          .option {
            a {
              width: fit-content;
              font-size: 0;
              span {
                font-size: 14px;
              }
            }
          }
          .option.active {
            a {
              font-size: 0;
              &::before {
                height: 48px;
              }
              &::after {
                bottom: -14px;
              }
              span {
                font-size: 17px;
              }
            }
          }
        }
        .tabs-content {
          .tabs-list {
            flex-direction: column;
            .tab-content {
              width: 100%;
              a {
                margin-right: 0;
                h2 {
                  text-align: center;
                  border: none;
                  border-top: 1px solid #fff;
                  span {
                    font-size: 16px;
                    float: right;
                  }
                }
              }
              .content {
                position: unset;
                box-sizing: border-box;
                min-height: 280px;
                p {
                  font-size: 12px;
                }
              }
            }
            .tab-content.active {
              a {
                box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.15);
              }
            }
          }
        }
      }
    }
  }
}
