body {
  color: #878787;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  color: #000;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: #000;
  text-decoration: none;
}
.main_section {
  height: calc(100vh - 180px);
  background: url("../img/Background-min.png") no-repeat;
  background-size: cover;
  padding: 180px 0 0;
  h1 {
    text-align: center;
  }
  .container {
    max-width: 1200px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
    .tabs-block {
      max-width: 940px;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      .sidebar {
        margin-top: 15px;
        flex: 1;
        background: #fcfcfc;
        border-left: 1px solid;
        border-image: linear-gradient(to bottom, #e3e3e3, rgba(0, 0, 0, 0)) 1 100%;
        .option {
          a {
            padding: 15px;
            display: flex;
            color: #878787;
            justify-content: space-between;
            cursor: pointer;
            border-bottom: 1px solid;
            border-image: linear-gradient(to left, #e3e3e3, rgba(0, 0, 0, 0)) 1 0%;
            font-size: 14px;
          }
        }
        .option.active {
          a {
            background: #005382;
            font-size: 17px;
            position: relative;
            color: #fff;

            &::before {
              content: "";
              width: 14px;
              height: 52px;
              background: #005382;
              position: absolute;
              display: inline-block;
              left: -14px;
              top: 0;
            }
            &::after {
              content: "";
              width: 0;
              height: 0;
              position: absolute;
              display: inline-block;
              left: -14px;
              bottom: -15px;
              border-style: solid;
              border-width: 0 14px 14px 0;
              border-color: transparent #001521 transparent transparent;
            }
          }
        }
      }
      .tabs-content {
        flex: 3;
        position: relative;
        .tabs-list {
          display: flex;
          align-items: flex-end;
          .tab-content {
            a {
              box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.15);
              display: block;
              margin-right: 2px;
              h2 {
                margin: 0;
                background: #f8f8f8;
                border: 1px solid #fff;
                font-weight: 400;
                color: #878787;
                font-size: 13px;
                padding: 10px 20px;
                span {
                  font-size: 0;
                }
              }
            }
            .content {
              display: none;
              box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.15);
              position: absolute;
              left: 0;
              width: 100%;
              background: #fff;
              min-height: 370px;
              padding: 15px;
              p {
                margin: 0;
              }
            }
          }
          .tab-content.active {
            a {
              position: relative;
              box-shadow: 0 -5px 15px -5px rgba(0, 0, 0, 0.15);
              z-index: 1;
              h2 {
                font-size: 18px;
                color: #000;
                font-weight: 500;
                background: #fff;
                box-shadow: inset 0 25px 20px -10px rgba(0, 0, 0, 0.15);
              }
            }
            .content {
              display: block;
            }
          }
        }
      }
    }
  }
}
@import "./responsive.scss";
